.button{
  background: $bg-button;
  border-radius: 40px;
  color: $white;
  display: block;
  &.sm{
    padding: 10px 20px;
    .label{
      font-size: 14px;
    }
  }
  &.lg{
    padding: 12px 28px;
    .label{
      font-size: 20px;
    }
  }
  &.bg{
    padding: 14px 28px;
    .label{
      font-size: 20px;
    }
  }
}

.button{
  .label{
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "VisbyCf";
    line-height: 140%;
    font-weight: 600;
  }
}
.dark{
  background: $white;
  .label{
    color: #181D28;
  }
}