.header{
  position: fixed;
  width: 100%;
  height: 65px;
  background: $bg-page;
  z-index: 1000;
  border-bottom: 1px solid $border-color;
  .container{
    height: 100%;
  }
  .body{
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__menu{
    margin-left: auto;
    height: 100%;
  }

  &__list{
    list-style: none;
    display: flex;
    align-items: center;
    // min-height: 100%;
    height: 100%;
  }
  .item{
    height: 100%;
  }
  
  &__link{
    
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 135px;
    text-align: center;
    max-height: 100%;
    height: 100%;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 3px;
      background: #445371;
      display: none;
    }
    &:hover{
      &::after{
        display: block;
      }
    }
  }

  .login{
    padding: 0 40px;
    background: $red-default;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
  }

  .demoLink{
    padding: 21px 18px;
    background: #0E1117;
    span{
      color: $white;
    }
  }

  .lang{
    padding: 20px 0 20px 30px;
    svg{
      display: block;
    }
  }

  &__right{
    display: flex;
    align-items: center;
    margin-left: auto;
    height: 100%;
  }

}